<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="canonical" href="https://html5-templates.com/" />
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="{{ url_for('static', filename='scripts/script.js') }}"></script>	
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
	<link  rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Concert+One&display=swap" rel="stylesheet">
	<title>Tollywood Recommender</title>
</head>
<body>
	<div id="desktop">
		<div class="window" data-title="Api Docs">
			Loading...
		</div>
		<div class="window" data-title="Api Endpoints">
			Coming Soon...
		</div>
		<div class="window closed" data-title="Third">
			N.Karthikeyakumar
		</div>
		<div class="window" data-title="Intro">
			<h1>Tollywood Movie Recommendation </h1>
			<hr />
			<p><strong><p>This Api provides Recommendation to users based on Movies previously they have watched.</p></strong></p>
		</div>
		
		<div id="taskbar">		
		</div>
		
		<div id="icons">
			<a class="openWindow" data-id="0">Api Docs</a>
			<a class="openWindow" data-id="1">Api Endpoints</a>
			<a class="openWindow" data-id="2">Contributers</a>
			<a class="openWindow" data-id="3">All Windows</a>
		</div>
		<a href="https://github.com/karthikeyakumar" rel="nofollow" target="_blank" id="templateLink">
			<i style="font-size:24px" class="fa">
				&#xf09b;</i>
				 karthikeyakumar.Nallam</a>	
		</div>
</body>

</html>